//
//  Prod.xcconfig
//  TestProj
//
//  Created by Ali Hasanoğlu on 12.12.2021.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

BASE_URL = https:\/\/yyy.xxx.com.tr\/prod
BUNDLE_ID = com.hasanogliali.testproj.prod
APP_NAME = APP Prod
